<div class="fixed bottom-0 flex w-full justify-center p-4">
  <nav class="bg-primary w-full rounded-lg text-white lg:w-1/2">
    <ul class="flex justify-around py-2">
      <a class="flex items-center space-x-2" routerLink="/">
        <fa-icon [icon]="homeIcon"></fa-icon>
        <span class="hidden sm:inline">Home</span>
      </a>
      <a class="flex items-center space-x-2" routerLink="/bookshelf">
        <fa-icon [icon]="bookIcon"></fa-icon>
        <span class="hidden sm:inline">Bookshelf</span>
      </a>
    </ul>
  </nav>
</div>
